/* Imports */

@import "compass/css3";
@import "artillery/_init";

body {
	background-color: #fff;
}
body, .row {
}

#gun {
	// display: none;
	position: absolute;
	width: 90%;
	margin-left: 7%;
}

body {
	padding-top : 50px;
	
	.starter-template {
		text-align: center;
	}
}